@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@font-face {
    font-family: "Swanky Mojo";
    src: url('./../assets/Swanky\ Mojo.otf') format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Coolvetica";
    src: url('./../assets/coolvetica\ rg.otf') format('opentype');
    font-weight: normal;
}


.l-container{
    max-width: 1220px;
    padding:5rem;
    margin: auto;
}

.hamburger div span:first-child{

    visibility: hidden;
}
.hamburger div span:nth-child(2){
    rotate:45deg;
    transform-origin:35%;
    transition: rotate .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    /* transform:translateX(-50%) translateY(-50%); */
}

.hamburger div span:nth-child(3){
    rotate:-45deg;
    transition: rotate .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    /* transform-origin:center; */
    transform-origin: 35%;
    /* transform-style: preserve-3d; */
    /* transform-origin:center; */
    /* transform:translateX(-50%) translateY(-50%); */
}





